<div class="card flex justify-content-center">
    <div>
        <input type="text" pInputText [(ngModel)]="golfer1.name" />
        <p-inputNumber [(ngModel)]="golfer1.handicap" [maxFractionDigits]="1"></p-inputNumber>
    </div>
    <div>
        <input type="text" pInputText [(ngModel)]="golfer2.name" />
        <p-inputNumber [(ngModel)]="golfer2.handicap" [maxFractionDigits]="1"></p-inputNumber>
    </div>
    <div>
        <input type="text" pInputText [(ngModel)]="golfer3.name" />
        <p-inputNumber [(ngModel)]="golfer3.handicap" [maxFractionDigits]="1"></p-inputNumber>
    </div>
    <div>
        <input type="text" pInputText [(ngModel)]="golfer4.name" />
        <p-inputNumber [(ngModel)]="golfer4.handicap" [maxFractionDigits]="1"></p-inputNumber>
    </div>
    <p-button (onClick)="calculateTeamHandicap()">Create Teams</p-button>
    <div *ngIf="showMatchups">
        <app-matchup [matchups]="matchups"></app-matchup>
    </div>
</div>
