    <div class="stack">
        <app-explainer></app-explainer>
        <div class="inputRow">
            <input type="text" pInputText [(ngModel)]="golfer1.name" (ngModelChange)="inputChange()"/>
            <p-inputNumber [(ngModel)]="golfer1.handicap" [maxFractionDigits]="1" (ngModelChange)="inputChange()"></p-inputNumber>
        </div>
        <div class="inputRow">
            <input type="text" pInputText [(ngModel)]="golfer2.name" (ngModelChange)="inputChange()"/>
            <p-inputNumber [(ngModel)]="golfer2.handicap" [maxFractionDigits]="1" (ngModelChange)="inputChange()"></p-inputNumber>
        </div>
        <div class="inputRow">
            <input type="text" pInputText [(ngModel)]="golfer3.name" (ngModelChange)="inputChange()"/>
            <p-inputNumber [(ngModel)]="golfer3.handicap" [maxFractionDigits]="1" (ngModelChange)="inputChange()"></p-inputNumber>
        </div>
        <div class="inputRow">
            <input type="text" pInputText [(ngModel)]="golfer4.name" (ngModelChange)="inputChange()"/>
            <p-inputNumber [(ngModel)]="golfer4.handicap" [maxFractionDigits]="1" (ngModelChange)="inputChange()"></p-inputNumber>
        </div>
        <div class="center-div" style="align-items: center">
            USGA<p-inputSwitch [(ngModel)]="friendlyFormat" styleClass="mt-2" (ngModelChange)="inputChange()"/>Friendly
        </div>
        <div class="center-div">
            <p-button [disabled]="showMatchups" (onClick)="createTeams(); calculateTeamHandicap()">Create Teams</p-button>
        </div>
    </div>
<div class="center-div">
        <app-matchup [matchups]="matchups" *ngIf="showMatchups"></app-matchup>
</div>