<div class="card flex justify-content-center">
    <div>
        <input type="text" pInputText [(ngModel)]="golfer1Name" />
        <p-inputNumber [(ngModel)]="golfer1Hdcp" [maxFractionDigits]="1"></p-inputNumber>
    </div>
    <div>
        <input type="text" pInputText [(ngModel)]="golfer2Name" />
        <p-inputNumber [(ngModel)]="golfer2Hdcp" [maxFractionDigits]="1"></p-inputNumber>
    </div>
    <div>
        <input type="text" pInputText [(ngModel)]="golfer3Name" />
        <p-inputNumber [(ngModel)]="golfer3Hdcp" [maxFractionDigits]="1"></p-inputNumber>
    </div>
    <div>
        <input type="text" pInputText [(ngModel)]="golfer4Name" />
        <p-inputNumber [(ngModel)]="golfer4Hdcp" [maxFractionDigits]="1"></p-inputNumber>
    </div>
</div>
