@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

.center-div {
    display: flex;
    justify-content: center;
    padding: .5rem;
}

.teams-container {
    display: flex;
    justify-content: center;
    padding: .5rem;
    align-items: center;
}

.green-container {
    border-radius: 5px;
    background-color: #01d449;
    opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 2s;
    margin: .5rem;
}

.orange-container {
    border-radius: 5px;
    background-color: #fe6601;
    margin: .5rem;
}

.stack {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.team {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 3rem;
}

.explainer-div {
    flex: 1;
    text-align: center;
}

.delay-0-5s {
    opacity: 0;
	animation-name: delayOpacity1;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 2s;
    animation-delay: 0.5s;
    animation-fill-mode: both;
}

.delay-0-10s {
    opacity: 0;
	animation-name: delayOpacity2;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 2s;
    animation-delay: 1s;
    animation-fill-mode: both;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes delayOpacity1 {
    0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes delayOpacity2 {
    0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}