<div class="stack">
    <h3>How it works</h3>
    <p>Input player names and handicaps, select a game type, and click "Create Teams" to generate 3 even matchups.</p>
    <div class="center-div">
        <div class="explainer-div">
            <h4>USGA</h4>
            <p>35% of the lower-handicapped player's handicap + 15% of the higher-handicapped player's handicap</p>
        </div>
        <div class="explainer-div">
            <h4>Friendly</h4>
            <p>Add both players' handicaps together and divide by 4</p>
        </div>
    </div>
</div>